<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- task form -->
    <h2 class="active"> Add Task</h2>
      <form #taskform="ngForm"  (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="login" class="fadeIn second" name="task_name" placeholder="Enter Title *" minlength="4" required [(ngModel)]="taskModel.task_name"  #task_name="ngModel">
      <div *ngIf="task_name.errors && (task_name.invalid)  && (task_name.touched)">
     <p class="text-danger" *ngIf="task_name.errors.required">Title is required   </p>
     <p class="text-danger" *ngIf="task_name.errors.minlength">Please Enter Atleast 4 Characters</p>
    </div>
    <input type="submit" class="fadeIn fourth" value="submit">
    </form>
  </div>
</div>
