
<div class="container">
  <div class="row ml-5 float-sm-center">
    <div class="col-md-12 m-5">
  <div class="wrapper ">
  <div class="link_wrapper">
    <a routerLink="/tasks/newtask">New task</a>
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
        <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/>
      </svg>
    </div>
  </div>
  </div>
</div>
          
<div class="col-md-12"> 
  <table class="table m-5 pb-5">
    <thead>
      <tr>
       <th>title</th>
        <th class="text-center">Action</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
       </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tasks of tasks |paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{tasks.task_name}}</td>
       <td><button class="btn btn-primary" (click)="onEdit(tasks)"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Edit</button></td>
         <td><button class="btn btn-danger" (click)="onDelete(tasks)">Delete</button></td>
  <td> <label class="switch">
  <input type="checkbox" [ngModel]="tasks.status | status1" 
      >
  <span class="slider" (click)="updateStatus(tasks)"></span>
</label></td>
    </tr>
    </tbody>
  </table>
  <div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
</div>
</div>
 

<div *ngIf="iseditform">
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <div *ngIf="message">
                    <p class="text-danger">{{message}}</p>
                   </div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
        <div class="modal-body">
          <form #editform="ngForm" (ngSubmit)="onUpdate(id)" >
             <input type="text" name="task_name" placeholder="Enter Title" minlength="4" value="{{task_name}}" [(ngModel)]="task_name">
              <input type="submit" value="submit">
            </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
  </div>
  </div>
</div>