<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-sidebar w3-bar-block w3-border-right" [style.display]="displaying" id="mySidebar">
  <button (click)="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
 
  <a  routerLink="/tasks" routerLinkActive="active"class="w3-bar-item w3-button">Tasks</a>
  <a routerLink="/logout" routerLinkActive="active" class="w3-bar-item w3-button">Logout</a>
</div>


<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" (click)="w3_open()">☰</button>
  <div class="w3-container">
    <h1>TODO</h1>
  </div>
</div>

</body>

<router-outlet></router-outlet>


</html> 
