<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    
    <!-- Icon -->
  

    <!-- Login Form -->
  
      
    <form #userform="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Enter E-mail" required [(ngModel)]="userModel.email"  #email="ngModel">
       <div *ngIf=" (email.errors) && (email.invalid)  && (email.touched)">
    <p class="text-danger" *ngIf="email.errors.required">Email is required</p>
    
    </div>
    
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password" [(ngModel)]="userModel.password"  #password="ngModel" required="">

          <div *ngIf="password.errors && (password.invalid)  && (password.touched)">
    <p class="text-danger" *ngIf="password.errors.required">password is required</p>
    
    </div>

      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]='!userform.valid'>
      <h3 class="text-danger">{{RegisterService.responseMsg()}}</h3>
      
   
    </form>

      <!--  <div *ngIf="email.touched || password.touched">
    <small class="text-danger">Please Fill out all the field</small>
    </div> -->
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <!-- temporary closed as backend have no API for register <a class="underlineHover" routerLink="/register">Not Register?</a>
       -->
    </div>

  </div>
</div>
