<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <div *ngIf="message">
      <h3 class="text-danger">{{message}}</h3>
    </div>
    <h2 class="active"> Sign Up </h2>
    
    <!-- Icon -->
  

    <!-- Login Form -->
    <form  #userform="ngForm" (ngSubmit)="onSubmit()" novalidate>

      <input type="text" id="login" class="fadeIn second" name="firstname" placeholder="Enter Firstname*"  #firstname="ngModel" [(ngModel)]="userModel.firstname" required pattern="^[a-zA-Z][a-zA-Z ]+" maxlength="10" minlength="4">
      <div *ngIf="firstname.errors && (firstname.invalid)  && (firstname.touched)">
     <p class="text-danger" *ngIf="firstname.errors.required">Firstname is required   </p>
     <p class="text-danger" *ngIf="firstname.errors.minlength">Please Enter Atleast 4 Characters   </p>
      <p class="text-danger" *ngIf="firstname.errors.maxlength">only upto 10 characters allowed</p>
       <p class="text-danger" *ngIf="firstname.errors.pattern"> only alphabet allowed</p>


    </div>


      <input type="text" id="login" class="fadeIn third" name="lastname" placeholder="Enter Lastname*"  #lastname="ngModel" [(ngModel)]="userModel.lastname" required="" pattern="^[a-zA-Z][a-zA-Z ]+" maxlength="10" minlength="4">
      <div *ngIf="lastname.errors && (lastname.invalid)  && (lastname.touched)">
    <p class="text-danger" *ngIf="lastname.errors.required">lastname is required</p>
     <p class="text-danger" *ngIf="lastname.errors.minlength">Please Enter Atleast 4 Characters   </p>
      <p class="text-danger" *ngIf="lastname.errors.maxlength">only upto 10 characters allowed</p>
       <p class="text-danger" *ngIf="lastname.errors.pattern"> only alphabet allowed</p>

    </div>

      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Enter E-mail*" required [(ngModel)]="userModel.email"  #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <div *ngIf=" (email.errors) && (email.invalid)  && (email.touched)">
    <p class="text-danger" *ngIf="email.errors.required">Email is required</p>
    <p class="text-danger" *ngIf="email.errors.pattern">Email is not valid</p>
    </div>
    
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Password*" required [(ngModel)]="userModel.password"  #password="ngModel"  maxlength="20" minlength="8">
      <div *ngIf="password.errors && (password.invalid)  && (password.touched)">
    <p class="text-danger" *ngIf="password.errors.required">password is required</p>
     <p class="text-danger" *ngIf="password.errors.minlength">Please Enter Atleast 8 Characters   </p>
      <p class="text-danger" *ngIf="password.errors.maxlength">only upto 20 characters allowed</p>
       
    </div>


      <input type="submit" class="fadeIn fourth" value="Register" [disabled]='!userform.valid' name="submit">

       <div *ngIf="userform.invalid && password.touched  && email.touched  && firstname.touched  && lastname.touched">
    <small class="text-danger">Please Fill out all the field</small>
    </div>

    </form>

    <!-- Remind Passowrd -->
    

  </div>
</div>
